<h1>Edit article <%= @article.title %></h1>

<%= simple_form_for @article do |f| %>
<div class="container shadow bg-white rounded my-5 p-4">
  <div class="row">
      <div class="col-8">
        <%= f.input :title %>
      </div>
      <div class="col-4">
        <%= f.input :stars, collection: 0..5 %>
      </div>
  </div>

        <%= f.input :content %>
      <div class="text-right">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
</div>
