<div class="container shadow bg-white rounded p-4 text-center my-5 mb-4">
  <h1><%= @article.title %></h1>
  <p><%= "*" * @article.stars%></p>
  <p><b><%= @article.created_at.strftime("%d %b %Y") %></b></p>
  <p><%= @article.content %></p>
  <%= link_to "Edit", edit_article_path, class: "btn btn-primary"%>
</div>
